# EXTRACT

In [2]:
import pandas as pd
df = pd.read_excel("∆èsas data.xlsx")
df.head(5)

df["Order Date"] = pd.to_datetime(df["Order Date"])

# RFM

In [3]:
current_day = df["Order Date"].max() + pd.Timedelta(days=1)

In [4]:
rfm_df = df.groupby("Customer ID").agg({
    "Order Date" : lambda x: (current_day - x.max()).days,
    "Order ID" : "nunique",
    "Sales" : "sum"
}).reset_index()

rfm_df.columns = ["Customer ID","Recency","Frequency","Monetary"]

# ROI

In [6]:
rfm_df["Cost"] = 2000
rfm_df["ROI"] = ((rfm_df["Monetary"] - rfm_df["Cost"]) / rfm_df["Cost"]).round()
rfm_df["ROI_Percent"] = rfm_df["ROI"] * 100
rfm_df.head()

  Customer ID  Recency  Frequency  Monetary  Cost  ROI  ROI_Percent
0   AA-103151        9          5  1445.406  2000 -0.0         -0.0
1   AA-103152       14          7  6105.627  2000  2.0        200.0
2   AA-103153      609          2   632.820  2000 -1.0       -100.0
3   AA-103154      185          5  5563.560  2000  2.0        200.0
4   AA-103751        7          4  2407.245  2000  0.0          0.0

# Churn Rate

In [8]:
churn_limit = 90
total_customers = rfm_df.shape[0]
churned_customers = rfm_df[rfm_df["Recency"] > churn_limit].shape[0]
rfm_df["Churn_Rate"] = round((churned_customers / total_customers) * 100)
rfm_df.head()

,Customer ID,Recency,Frequency,Monetary,Cost,ROI,ROI_Percent,Churn_Rate
0,AA-103151,9,5,1445.406,2000,-0.0,-0.0,59
1,AA-103152,14,7,6105.627,2000,2.0,200.0,59
2,AA-103153,609,2,632.820,2000,-1.0,-100.0,59
3,AA-103154,185,5,5563.560,2000,2.0,200.0,59
4,AA-103751,7,4,2407.245,2000,0.0,0.0,59

Bonus

In [ ]:
from pickle import TRUE


rfm_df["Churn_Status"] = rfm_df["Recency"].apply(lambda x: "Churned" if x > churn_limit else "Active")

rfm_df.head()

,Customer ID,Recency,Frequency,Monetary,Cost,ROI,ROI_Percent,Churn_Rate,Churn_Status
0,AA-103151,9,5,1445.406,2000,-0.0,-0.0,59,NaN
1,AA-103152,14,7,6105.627,2000,2.0,200.0,59,NaN
2,AA-103153,609,2,632.820,2000,-1.0,-100.0,59,NaN
3,AA-103154,185,5,5563.560,2000,2.0,200.0,59,NaN
4,AA-103751,7,4,2407.245,2000,0.0,0.0,59,NaN