In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("HR Data.csv")



## 🔥 Yeni Mini Görevler (HR Data.csv ile)

### 🔹 Görev 1: **Hangi eğitim alanında (EducationField) çalışanların maaş ortalaması en yüksektir?**
```python
# 1. Her EducationField için maaş ortalamasını hesapla
maas_ortalamalari = df.groupby("EducationField")["MonthlyIncome"].mean().sort_values(ascending=False)

# 2. En yüksek maaşı yazdır
print(maas_ortalamalari)
```

---

### 🔹 Görev 2: **Yaşı 40'tan büyük olan çalışanlar arasında en uzak mesafeden gelen ilk 5 kişiyi göster.**
```python
# 1. Yaşı 40'tan büyük olanları filtrele
yasli_calisanlar = df[df["Age"] > 40]

# 2. DistanceFromHome'a göre büyükten küçüğe sırala
en_uzak_gelenler = yasli_calisanlar.sort_values(by="DistanceFromHome", ascending=False)

# 3. İlk 5 kişinin yaş, mesafe ve iş rolünü göster
print(en_uzak_gelenler[["Age", "DistanceFromHome", "JobRole"]].head(5))
```

---

### 🔹 Görev 3: **Evli çalışanların (MaritalStatus = "Married") ortalama iş memnuniyeti nedir?**
```python
# 1. Married olanları filtrele
evliler = df[df["MaritalStatus"] == "Married"]

# 2. İş memnuniyeti ortalamasını al
ortalama_memnuniyet = evliler["JobSatisfaction"].mean()

print(f"Evli çalışanların ortalama iş memnuniyeti: {ortalama_memnuniyet:.2f}")
```

---

Hazırsan bu üç görevi bir çalıştır, çıktılarına bakalım.  
Sonra istersen grafik çizimi, korelasyon analizi veya başka havalı şeylere geçebiliriz 💪  
Kanka sen kodları çalıştırınca sonucu bana yaz, birlikte yorumlayalım.

In [38]:

from matplotlib import axis
import numpy as np

# # 🔹 Alıştırma 1:
# # Her "JobRole" için ortalama "MonthlyIncome" ve ortalama "JobSatisfaction" değerlerini hesapla.


df.groupby("JobRole").agg({
    "MonthlyIncome": "mean",
    "JobSatisfaction": "mean"
}).round(2)

# ortalama_maas = df.groupby("JobRole")["MonthlyIncome"].mean().round(2)
# ortalama_maas
# ortalama_memnuniyyet = df.groupby("JobRole")["JobSatisfaction"].mean().round(2)
# ortalama_memnuniyyet

# 🔹 Alıştırma 2:
# 35 yaşından küçük, "Research & Development" departmanındaki çalışanların sayısını bulun.
kucuk = df[df["Age"] < 35]
kucuk[kucuk["Department"] == "Research & Development"].shape[0]

# 🔹 Alıştırma 3:
# "DistanceFromHome" değeri 10'dan büyük olan çalışanların yaş ortalaması nedir?
df[df["DistanceFromHome"] > 10]["Age"].mean().round(2)

# 🔹 Alıştırma 4:
# "EducationField" sütunundaki her farklı alan için kaç çalışan olduğunu bulun ve azalan sırayla yazdırın.
grup = df["EducationField"].value_counts().sort_values(ascending= False)

# 🔹 Alıştırma 5:
# Evli olmayan ("Single" ve "Divorced") çalışanların ortalama maaşı kaçtır?
df[df["MaritalStatus"] != "Married"]["MonthlyIncome"].mean().round()

# 🔹 Alıştırma 6:
# "Business Travel" kategorisine göre "Attrition" oranını yüzde (%) olarak hesaplayın.
# İpucu: value_counts(normalize=True) ve groupby() işe yarar 😉
df.groupby("BusinessTravel")["Attrition"].value_counts(normalize= True).round(2).unstack()

# 🔹 BONUS Görev:
# Aşağıdaki sütunlar arasında korelasyon matrisini hesaplayın ve yorum yapın:

# Age

# MonthlyIncome

# DistanceFromHome

# TotalWorkingYears

# YearsAtCompany

Attrition            No   Yes
BusinessTravel
Non-Travel         0.92  0.08
Travel_Frequently  0.75  0.25
Travel_Rarely      0.85  0.15

In [ ]:
# 🟢 Seviye 1: Isınma Turu (Basic)
# 1. "Sales" departmanındaki kişilerin ortalama yaşını ve medyan maaşını hesapla.
df[df["Department"] == "Sales"].agg({
    "MonthlyIncome" : "median",
    "Age" : "mean"}).round(2)

# 2. "Education" seviyesi 3 ve üzerinde olan kadınların sayısı kaçtır?
df[(df["Education"] >= 3) & (df["Gender"] == "Female")].shape[0]


# 3. Hangi “JobRole” pozisyonunda çalışanların “YearsAtCompany” ortalaması en düşüktür?
df.groupby("JobRole")["TotalWorkingYears"].mean().sort_values().head(1)

# 🟡 Seviye 2: Orta Seviye Kombolar
# 4. Aşağıdaki koşulları sağlayan çalışanları listele (sadece Age, JobRole, MonthlyIncome sütunları):
# Yaşı 45’ten büyük,

# ,

# "MonthlyIncome" 5000’den düşük
df[(df["Age"] > 45) & (df["Attrition"] == "Yes") & (df["MonthlyIncome"] < 5000)][["Age", "JobRole", "MonthlyIncome"]]


# 5. Hangi "EducationField" içinde "Attrition" oranı en yüksektir?
df.groupby("EducationField")["Attrition"].value_counts(normalize=True).sort_values().head(1)

# 6. Her "Gender" ve "MaritalStatus" kombinasyonu için ortalama "TotalWorkingYears" ve "MonthlyIncome" hesapla.
df.groupby(["Gender", "MaritalStatus"]).agg({"TotalWorkingYears" : "mean", "MonthlyIncome" : "mean"}).round(2)

# 🔴 Seviye 3: Uzman Çemberi
# 7. YearsSinceLastPromotion sütunundaki aykırı (outlier) değerleri tespit et ve satırları yazdır.
# 💡 İpucu: IQR yöntemi kullanabilirsin.


# 8. "JobSatisfaction" ve "EnvironmentSatisfaction" arasında korelasyon var mı? Görsel olarak heatmap ile göster.
# 9. Her "BusinessTravel" kategorisi için "OverTime" yapanların oranını göster (% cinsinden).
# 10. apply() ve lambda fonksiyonu kullanarak yeni bir sütun oluştur:
# Eğer çalışan 5 yıldan fazla şirkette çalışıyorsa "Kıdemli", değilse "Yeni" yazsın.

# Sütun adı: KıdemDurumu

# 💎 BONUS: Pivot Challenge
# 11. "Department" bazında yıllara göre ortalama maaşı gösteren bir pivot tablo oluştur:
# Yıl bilgisi için: YearsAtCompany

# Değer: MonthlyIncome

                      TotalWorkingYears  MonthlyIncome
Gender MaritalStatus
Female Divorced                   12.12        6769.32
       Married                    12.64        7156.97
       Single                     10.25        5994.94
Male   Divorced                   11.63        6795.74
       Married                    11.12        6547.24
       Single                     10.28        5812.02